{% extends 'oldband/base.html' %}
{% block title %} Games {% endblock %}
{% block content %} 
<ul class="list-unstyled">
    <li class="media">
      <img src="..." class="mr-3" alt="...">
      <div class="media-body">
        <h5 class="mt-0 mb-1">Covid Invaders</h5>
        game coming soon.
      </div>
    </li>
    <li class="media my-4">
      <img src="..." class="mr-3" alt="...">
      <div class="media-body">
        <h5 class="mt-0 mb-1">metal fighter</h5>
        game coming soon.
      </div>
    </li>
    <li class="media">
      <img src="..." class="mr-3" alt="...">
      <div class="media-body">
        <h5 class="mt-0 mb-1">planetoids</h5>
        game coming soon.
      </div>
    </li>
  </ul>
{% endblock %}