{% extends 'oldband/base.html' %}
{% block title %} Videos {% endblock %}
{% block content %} 
<ul class="list-unstyled">
    <li class="media">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/zuVfc5KgSwE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="media-body">
        <h5 class="mt-0 mb-1">Black Mountain</h5>
        music video from REFICUL! music written and performed by Reficul. Photography and production by Joe Lacina, special thanks to
http://www.mymorbidmind.com for lettnig us use their location and set pieces!!!!
      </div>
    </li>
    <li class="media my-4">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/7EOsAhaNsY0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="media-body">
        <h5 class="mt-0 mb-1">Invoke Thy Majesties</h5>
        A terrible mix of the song Invoke Thy Majesties off of the Luciferian War album.
      </div>
    </li>
    <li class="media">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/t_HMl2epFTc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="media-body">
        <h5 class="mt-0 mb-1">Dark Night Mysticism</h5>
        A terrible mix of the song Dark Night Mysticism off of the Luciferian War album.
      </div>
    </li>
  </ul>
{% endblock %}